.env
.env.*
.git
.gitignore
node_modules
vendor
/public/build
/public/hot
/storage/*.key
/storage/pail
/storage/logs
/bootstrap/cache
tests
.phpunit.result.cache
.phpunit.cache
README.md
docker-compose*
Homestead.*
